@model List<ProductViewModels>


@foreach (var item in Model)
{
    <div class="col-xl-3 col-lg-4 col-sm-6 me-3 mb-5">
        <div class="card-product card position-relative d-flex flex-column p-3 mb-5">

            <a type="button" asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.ID">

                <div class="d-flex justify-content-center">
                    <img src="~/img/products/@item.Image" class="card-img-top mb-3" alt="@item.Image" style="width: 178px; height: 178px">
                </div>

                <div class="row d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <h3 class="card-title text-white">@item.Name</h3>
                    </div>

                    <div class="position-relative d-flex mb-5">
                        <a class="position-absolute" style="font-size: 16px; left: 12px">@item.CateName</a>
                        <span class="position-absolute fw-semibold" style="font-size: 16px; right: 12px">$@item.Price</span>
                    </div>
                </div>
            </a>

            <div class="position-absolute d-flex align-items-center" style="bottom: 5px">
                <form method="post">
                    <button asp-controller="Category" asp-action="AddToCart" asp-route-id="@item.ID" class="btn-add btn btn-outline-primary text-white me-3" title="Add To Cart">
                        <i class="bi bi-cart-check-fill"></i>
                    </button>

                    <button asp-controller="Category" asp-action="RemoveFromCart" asp-route-id="@item.ID" class="btn-delete btn btn-outline-primary text-white" title="Remove From Cart">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
}

@*<script type="text/javascript">
    document.getElementById("BtnAddToCart").addEventListener("click", function (event) {
        event.preventDefault()
    });
</script>*@
