@model Account
@using WebApplication1.Utilities
@inject IHttpContextAccessor HttpContextAccessor
@{
    Account presentAcc = new Account();
    Account account = HttpContextAccessor.HttpContext.Session.Get<Account>("account");
    Account acc = HttpContextAccessor.HttpContext.Session.Get<Account>("acc");
    List<BillViewModels> lstBill = HttpContextAccessor.HttpContext.Session.Get<List<BillViewModels>>("bill");
    if (lstBill == null)
    {
        lstBill = new List<BillViewModels>();
    }

    if (account == null || account.Email.Equals(""))
    {
        account = new Account();
        presentAcc = acc;
    }
    else
    {
        acc = new Account();
        presentAcc = account;
    }
}
@Html.Partial("~/Views/Shared/_HeaderInnerPagePartial.cshtml")

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Profile</h2>
                <ol>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Account/Profile"></a>Profile</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="card d-flex align-items-center col-md-5 p-3" style="background: transparent; outline-color: 2px solid #cda45e; border: 2px solid #cda45e">
                    <div class="d-flex align-items-center justify-content-center text-center col-md-8 mb-3">
                        <img src="~/img/profile/@presentAcc.Avatar" class="card-img-top" alt="Profile Image" style="border-radius: 50%; width: 200px; height: 200px; background: rgba(255, 165, 0, 0.1);">
                    </div>

                    <div class="card-body d-flex align-items-center justify-content-between mb-3">
                        <div>
                            <input type="file" class="form-control" />
                        </div>

                        <div>
                            @Html.Partial("~/Views/Account/UpdatePassword.cshtml", presentAcc)
                        </div>
                    </div>

                    @if (TempData["updatePwdFlag"] != null)
                    {
                        <div class="col-md-12 form-group alert alert-success">
                            <strong>@TempData["updatePwdFlag"]</strong>
                        </div>
                    }
                </div>

                <div class="col-md-1"></div>

                <form asp-action="UpdateAccount" method="post" class="card d-flex align-items-center col-md-6 p-3" style="background: transparent;">

                    <div class="col-md-10 mb-3">
                        <label class="form-label text-start mb-3">Name</label>
                        <input asp-for="Name" value="@presentAcc.Name" class="form-control text-white" style="background: transparent; outline-color: #cda45e; border: 2px solid #cda45e" />
                    </div>

                    <div class="col-md-10 mb-3">
                        <label class="form-label text-start mb-3">Email</label>
                        <input asp-for="Email" value="@presentAcc.Email" disabled class="form-control text-white" style="background: transparent; outline-color: #cda45e; border: 2px solid #cda45e" />
                    </div>

                    <div class="col-md-10 mb-3">
                        <label class="form-label text-start mb-3">Phone</label>
                        <input asp-for="Phone" value="@presentAcc.Phone" class="form-control text-white" style="background: transparent; outline-color: #cda45e; border: 2px solid #cda45e" />
                    </div>

                    <div class="col-md-10 mb-3">
                        <label class="form-label text-start mb-3">Delivery Address</label>
                        <input asp-for="DeliAddress" value="@presentAcc.DeliAddress" class="form-control text-white" style="background: transparent; outline-color: #cda45e; border: 2px solid #cda45e" />
                    </div>

                    <div class="col-md-10 mb-3">
                        <label class="form-label text-start mb-3">Birth</label>
                        <input asp-for="Birth" type="date" value="@presentAcc.Birth" class="form-control text-white" style="background: transparent; outline-color: #cda45e; border: 2px solid #cda45e" />
                    </div>

                    @if (TempData["updateAccFlag"] != null)
                    {
                        <div class="col-md-12 form-group alert alert-success">
                            <strong>@TempData["updateAccFlag"]</strong>
                        </div>
                    }

                    <div class="col-md-10">
                        <input type="submit" asp-controller="Account" asp-action="UpdateAccount" asp-route-id="@presentAcc.ID" class="btn btn-outline-primary text-white" />
                    </div>
                </form>
            </div>
        </div>

        <div class="container mt-5">
            <table class="table">
                <thead class="table-primary">
                    <tr>
                        <th class="align-middle p-2">Index</th>
                        <th class="align-middle p-2">Created Time</th>
                        <th class="align-middle p-2">Total</th>
                        <th class="align-middle p-2">Status</th>
                        <th class="align-middle p-2">Payment Type</th>
                        <th class="align-middle p-2">Payment Code</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in lstBill)
                    {
                        <tr style="color: #cda45e">
                            <td class="align-middle p-2" style="margin-right: 1rem">
                                @{
                                    var index = lstBill.IndexOf(item) + 1;
                                }@index
                            </td>
                            <td class="align-middle p-2">@item.CreatedTime</td>
                            <td class="align-middle p-2">@item.PaymentCode</td>

                            <td class="align-middle p-2">$@item.Total</td>
                            <td class="align-middle p-2">
                                @{
                                    var type = WebApplication1.Utilities.ConvertEnum.Convert(item.PaymentId);
                                }@type
                            </td>

                            <td class="align-middle p-2">
                                @{
                                    var status = WebApplication1.Utilities.ConvertEnum.Convert(item.Status);
                                }
                                @if (status.Equals("Paid"))
                                {
                                    <span class="btn btn-success text-white">
                                        @status
                                    </span>
                                }
                                else
                                {
                                    <span class="btn btn-danger text-white">
                                        @status
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </section>
</main>