@model IEnumerable<Category>

@{
    ViewData["Title"] = "List of Category";
    var cateList = (List<Category>)ViewData["Categories"];
    var cate = (Category)ViewData["Cate"];
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*Write Code*@
<div class="row mt-5">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in cateList)
                {
                    <tr>
                        <td class="align-middle">@Html.DisplayFor(m => item.ID)</td>
                        <td class="align-middle">@Html.DisplayFor(m => item.Name)</td>
                        <td class="align-middle">@Html.DisplayFor(m => item.Status)</td>

                        <td class="align-middle">
                            @Html.Partial("~/Areas/Admin/Views/Partials/Category/_UpdateCategoryPartial.cshtml", item)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-10 offset-1">
    @Html.Partial("~/Areas/Admin/Views/Partials/Category/_CreateCategoryPartial.cshtml", cate)
</div>
