@model List<BillDetailViewModels>
@using Microsoft.Extensions.Options
@inject IOptions<WebApplication1.Utilities.StripeSettings> Stripe

@Html.Partial("~/Views/Shared/_HeaderInnerPagePartial.cshtml")

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Cart</h2>
                <ol>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Cart/Index"></a>Cart</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container position-relative">
            <div id="cartFlagContainer" class="row form-group alert alert-danger mb-3" style="visibility: hidden">
                <strong id="cartFlag"></strong>
            </div>

            <table class="table table-borderless text-white">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>

                </thead>

                <tbody id="data-output">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" class="align-middle">
                                @{
                                    var index = Model.IndexOf(item) + 1;
                                }@index
                            </th>

                            <td>
                                <img src="~/img/products/@item.ProductImage" style="width: 178px; height: 178px" />
                            </td>
                            <td class="align-middle">@item.ProductName</td>
                            <td class="align-middle">$@item.Price</td>
                            <td class="align-middle">
                                <div class="d-flex align-items-center">

                                    <a id="decreaseBtn" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white me-3" onclick="DecreaseCart(@item.ProductID, @item.Price)">
                                        <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">-</span>
                                    </a>


                                    <span id="productQuantity">@item.Quantity</span>


                                    <a id="increaseBtn" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-3" onclick="IncreaseCart(@item.ProductID, @item.Price)">
                                        <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">+</span>
                                    </a>

                                    <form>
                                        <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductID" id="btn-delete" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-5" title="Remove From Cart" style="border-radius: 50%; outline-color: #cda45e">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </form>

                                </div>
                            </td>
                            <td class="align-middle fw-semibold" style="color: #cda45e" id="productTotal">$@item.Total</td>
                        </tr>
                    }
                </tbody>
            </table>

            @*<form asp-controller="Cart" asp-action="CheckOut" method="post">
            <span class="d-flex text-end fw-semibold" style="font-size: 25px">
            Payment:
            <span class="ms-5" style="color: #cda45e; font-size: 25px">
            $@Model.Sum(p => p.Total)
            </span>
            </span>

            @Html.Partial("~/Views/Cart/CheckOut.cshtml")


            </form>*@

            <form asp-controller="Cart" asp-action="CheckOut" asp-route-total="@Model.Sum(p => p.Total)" method="post">
                <span class="d-flex text-end fw-semibold mb-3" style="font-size: 25px">
                    Payment:
                    <span class="ms-5" style="color: #cda45e; font-size: 25px" id="cartTotal">
                        $@Model.Sum(p => p.Total)
                    </span>
                </span>

                <script type="text/javascript"
                        src="//checkout.stripe.com/v2/checkout.js"
                        class="position-absolute stripe-button"
                        data-key="@Stripe.Value.Publishablekey"
                        data-locale="auto"
                        data-description="Payment Gateway">

                </script>
            </form>

        </div>
    </section>
</main>

<script type="text/javascript">

    function IncreaseCart(productId, productPrice) {
        $.ajax({
            type: "POST",
            data: { id: productId, price: productPrice },
            dataType: "json",
            url: "/Cart/Increase",
            success: function (result) {
                console.log(result);

                var sumQuantity = 0;
                var sumTotal = 0;
                let out = "";

                result.forEach(myFunction)

                function myFunction(item, index) {
                    var row =  `
                            <tr>
                                <th scope="row" class="align-middle">
                                        ${index + 1}
                                </th>

                                <td>
                                        <img src="/img/products/${item.productImage}" style="width: 178px; height: 178px" />
                                </td>
                                <td class="align-middle">${item.productName}</td>
                                    <td class="align-middle">$${item.price}</td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center">

                                                    <a id="decreaseBtn" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white me-3" onclick="DecreaseCart(${item.productID}, ${item.price})">
                                                    <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">-</span>
                                            </a>

                                                <span id="productQuantity">${item.quantity}</span>


                                                    <a id="increaseBtn" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-3" onclick="IncreaseCart(${item.productID}, ${item.price})">
                                                <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">+</span>
                                            </a>

                                        <form>
                                                <a href="/Cart/Remove/${item.productID}" id="btn-delete" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-5" title="Remove From Cart" style="border-radius: 50%; outline-color: #cda45e">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </form>

                                    </div>
                                </td>
                                    <td class="align-middle fw-semibold" style="color: #cda45e" id="productTotal">$${item.total}</td>
                            </tr>`;

                    out += row;
                    sumQuantity += item.quantity;
                    sumTotal += item.total;
                }

                if (sumTotal > 50 || sumQuantity > 19) {
                    $('#cartFlagContainer').get(0).style.visibility = 'visible';
                    $('#cartFlag').get(0).innerHTML = "Cart reached limitation";
                }else{
                    $('#cartFlagContainer').get(0).style.visibility = 'hidden';
                }
               

                let table = document.getElementById('data-output');
                table.innerHTML = out;

                $('#cartQuantity').get(0).innerHTML
                    = "<li><a href=" + "'" + "/Cart/Index" + "' " + "id =" + "'" + "cartQuantity" + "'> <i class=" + "'" + "bi bi-cart" + "'></i>&nbsp; " + "(" + sumQuantity + ")" + "</a></li>";
                $('#cartTotal').get(0).innerHTML = "$" + sumTotal;

            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }

    function DecreaseCart(productId, productPrice) {
        $.ajax({
            type: "POST",
            data: { id: productId, price: productPrice },
            dataType: "json",
            url: "/Cart/Decrease",
            success: function (result) {
                console.log(result);

                var sumQuantity = 0;
                var sumTotal = 0;
                let out = "";

                result.forEach(myFunction)

                function myFunction(item, index) {
                    var row = `
                                <tr>
                                    <th scope="row" class="align-middle">
                                            ${index}
                                    </th>

                                    <td>
                                            <img src="/img/products/${item.productImage}" style="width: 178px; height: 178px" />
                                    </td>
                                    <td class="align-middle">${item.productName}</td>
                                        <td class="align-middle">$${item.price}</td>
                                    <td class="align-middle">
                                        <div class="d-flex align-items-center">

                                                        <a id="decreaseBtn" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white me-3" onclick="DecreaseCart(${item.productID}, ${item.price})">
                                                        <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">-</span>
                                                </a>

                                                    <span id="productQuantity">${item.quantity}</span>


                                                        <a id="increaseBtn" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-3" onclick="IncreaseCart(${item.productID}, ${item.price})">
                                                    <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">+</span>
                                                </a>

                                            <form>
                                                <a href="/Cart/Remove/${item.productID}" id="btn-delete" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-5" title="Remove From Cart" style="border-radius: 50%; outline-color: #cda45e">
                                                    <i class="bi bi-trash"></i>
                                                </a>
                                            </form>

                                        </div>
                                    </td>
                                        <td class="align-middle fw-semibold" style="color: #cda45e" id="productTotal">$${item.total}</td>
                                </tr>`;

                    out += row;
                    sumQuantity += item.quantity;
                    sumTotal += item.total;
                }

                if (sumTotal > 50 || sumQuantity > 19) {
                    $('#cartFlagContainer').get(0).style.visibility = 'visible';
                    $('#cartFlag').get(0).innerHTML = "Cart reached limitation";
                } else {
                    $('#cartFlagContainer').get(0).style.visibility = 'hidden';
                }


                let table = document.getElementById('data-output');
                table.innerHTML = out;

                $('#cartQuantity').get(0).innerHTML
                    = "<li><a href=" + "'" + "/Cart/Index" + "' " + "id =" + "'" + "cartQuantity" + "'> <i class=" + "'" + "bi bi-cart" + "'></i>&nbsp; " + "(" + sumQuantity + ")" + "</a></li>";
                $('#cartTotal').get(0).innerHTML = "$" + sumTotal;

            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }

</script>