@model List<BillDetailViewModels>
@using Microsoft.Extensions.Options
@inject IOptions<WebApplication1.Utilities.StripeSettings> Stripe

@Html.Partial("~/Views/Shared/_HeaderInnerPagePartial.cshtml")

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Cart</h2>
                <ol>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Cart/Index"></a>Cart</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container position-relative">
            <table class="table table-borderless text-white">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" class="align-middle">
                                @{
                                    var index = Model.IndexOf(item) + 1;
                                }@index
                            </th>

                            <td>
                                <img src="~/img/products/@item.ProductImage" style="width: 178px; height: 178px" />
                            </td>
                            <td class="align-middle">@item.ProductName</td>
                            <td class="align-middle">$@item.Price</td>
                            <td class="align-middle">
                                <div class="d-flex align-items-center">

                                    @*<a id="decreaseBtn" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white me-3" onclick="OnClickDecrease()">
                                <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">-</span>
                                </a>*@

                                    @*<a id="increaseBtn" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-3" onclick="OnClickIncrease()">
                                <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">+</span>
                                </a>*@
                                    <form>
                                        <a class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white me-3" asp-route-id="@item.ProductID" asp-action="Decrease" asp-controller="Cart">
                                            <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">-</span>
                                        </a>

                                    </form>

                                    <span id="productQuantity">@item.Quantity</span>

                                    <form>
                                        <a class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-3" asp-route-id="@item.ProductID" asp-action="Increase" asp-controller="Cart">
                                            <span class="d-flex align-items-center justify-content-center" style="width: 15px; height: 15px">+</span>
                                        </a>
                                    </form>

                                    <form>
                                        <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductID" id="btn-delete" class="d-flex align-items-center justify-content-center btn btn-outline-primary text-white ms-5" title="Remove From Cart" style="border-radius: 50%; outline-color: #cda45e">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </form>

                                </div>
                            </td>
                            <td class="align-middle fw-semibold" style="color: #cda45e" id="productTotal">$@item.Total</td>
                        </tr>
                    }
                </tbody>
            </table>

            @*<form asp-controller="Cart" asp-action="CheckOut" method="post">
            <span class="d-flex text-end fw-semibold" style="font-size: 25px">
            Payment:
            <span class="ms-5" style="color: #cda45e; font-size: 25px">
            $@Model.Sum(p => p.Total)
            </span>
            </span>

            @Html.Partial("~/Views/Cart/CheckOut.cshtml")


            </form>*@

            <form asp-controller="Cart" asp-action="CheckOut" asp-route-total="@Model.Sum(p => p.Total)" method="post">
                <span class="d-flex text-end fw-semibold mb-3" style="font-size: 25px">
                    Payment:
                    <span class="ms-5" style="color: #cda45e; font-size: 25px">
                        $@Model.Sum(p => p.Total)
                    </span>
                </span>

                <script type="text/javascript"
                        src="//checkout.stripe.com/v2/checkout.js"
                        class="position-absolute stripe-button"
                        data-key="@Stripe.Value.Publishablekey"
                        data-locale="auto"
                        data-description="Payment Gateway">

                </script>
            </form>

        </div>
    </section>
</main>

@*<script>

    function OnClickIncrease() {
        const productId = $('#productId').attr("value");
        const productTotal = $('#productTotal');
        const productQuantity = $('#productQuantity');
        $.ajax({
            type: "POST",
            data:  {productId },
            dataType: "json",
            url: "/Cart/Increase",
            success: function (result) {
                result.forEach(myFunction);
                function myFunction(item) {
                    productTotal.get(0).innerHTML = "$" + item.total;
                    productQuantity.get(0).innerHTML = item.quantity;
                }
            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }

    function OnClickDecrease() {
        const productId = $('#productId').attr("value");
        const productTotal = $('#productTotal');
        const productQuantity = $('#productQuantity');

        $.ajax({
            type: "POST",
            data: { productId },
            dataType: "json",
            url: "/Cart/Decrease",
            success: function (result) {
                result.forEach(myFunction);
                function myFunction(item) {
                    productTotal.get(0).innerHTML = "$" + item.total;
                    productQuantity.get(0).innerHTML = item.quantity;
                }
            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }

</script>*@