@model ProductViewModels
@{
    var modelName = Model.ProductName.Replace(" ", "_");
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#@modelName">
    Edit
</button>

<!-- Modal -->
<div class="modal fade" id="@modelName" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Update">
                    <div class="form-group mb-3" hidden>
                        <label asp-for="ProductID" class="form-label fw-semibold"></label>
                        <input asp-for="ProductID" class="form-control" />
                        <span asp-validation-for="ProductID" class=" text-danger"></span>
                    </div>

                    <div class="d-flex form-group mb-3">
                        <div class="col-md-5">
                            <label asp-for="ProductName" class="form-label fw-semibold">Product Name</label>
                            <input asp-for="ProductName" value="@Model.ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label class="form-label fw-semibold">Category</label>
                            <select asp-for="CateID" class="form-select">
                                <option value="@Model.CateID" selected>@Model.CateName</option>
                                @foreach (var item in ViewData["ProCategories"] as List<Category>)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>

                            <span asp-validation-for="CateID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ProductDescription" class="form-label fw-semibold">Description</label>
                        <input value="@Model.ProductDescription" asp-for="ProductDescription" class="form-control" style="height: 100px" />
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                    </div>

                    <div class="d-flex form-group mb-3">
                        <div class="col-md-5 ">
                            <label asp-for="ProductPrice" class="form-label fw-semibold">Price</label>
                            <input asp-for="ProductPrice" value="@Model.ProductPrice" class="form-control" />
                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label asp-for="ProductStatus" class="form-label fw-semibold"></label>
                            <input type="checkbox" asp-for="ProductStatus" checked="@Model.ProductStatus" />
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ProductImage" class="form-label fw-semibold">Image</label>
                        <input type="file" asp-for="ProductImage" id="updateProductImg" class="form-control" />
                        <span asp-validation-for="ProductImage" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3 text-center">
                        <img id="updateImgUrl" style="width: 12.5rem; height: 12.5rem; object-position: center" />
                    </div>

                    <div class="form-group mb-3" hidden>
                        <label asp-for="ProductImageBase64" class="form-label fw-semibold">Image</label>
                        <input asp-for="ProductImageBase64" value="@Model.ProductImageBase64" id="updateProductImg64" class="form-control" />
                        <span asp-validation-for="ProductImageBase64" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between form-group">
                        <input type="submit" value="Update" asp-area="Admin" asp-controller="Product" asp-action="Update" class="btn btn-outline-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Preview Image
    const updateFileInput = document.getElementById('updateProductImg');
    var updateImg64 = document.getElementById('updateProductImg64');
    var updateOutput = document.getElementById('updateImgUrl')

    updateFileInput.addEventListener("change", e => {
        const file = updateFileInput.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", () => {
            console.log(reader.result);
            updateOutput.src = reader.result;
            updateImg64.value = reader.result;
        });

        reader.readAsDataURL(file);
    })
</script>                        