@model ProductViewModels
@{
    var modelName = Model.Name.Replace(" ", "");
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#@modelName">
    Edit
</button>

<!-- Modal -->
<div class="modal fade" id="@modelName" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
            </div>
            <div class="modal-body">
                <form action="/Admin/Product/Update" method="post" enctype="multipart/form-data">
                    <div class="form-group mb-3" hidden>
                        <label class="form-label fw-semibold"></label>
                        <input name="ID" value="@Model.ID" class="form-control" />
                        <span asp-validation-for="ID" class=" text-danger"></span>
                    </div>

                    <div class="d-flex form-group mb-3">
                        <div class="col-md-5">
                            <label class="form-label fw-semibold">Product Name</label>
                            <input name="Name" value="@Model.Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label class="form-label fw-semibold">Category</label>
                            <select name="CategoryId" class="form-select">
                                <option value="@Model.CategoryId" selected>@Model.CateName</option>
                                @foreach (var item in ViewData["ProCategories"] as List<Category>)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>

                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label fw-semibold">Description</label>
                        <textarea name="Description" id="edit" class="form-control">@Html.Raw(Model.Description)</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="d-flex form-group mb-3">
                        <div class="col-md-5 ">
                            <label class="form-label fw-semibold">Price</label>
                            <input name="Price" value="@Model.Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <label asp-for="Status" class="form-label fw-semibold"></label>
                            <input type="checkbox" asp-for="Status" checked="@Model.Status" />
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label fw-semibold">Image</label>
                        <input type="file" name="ImageFile" id="updateProductImg" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3 text-center">
                        <img src="~/img/products/@Model.Image" id="updateImgUrl" style="width: 12.5rem; height: 12.5rem; object-position: center; outline: none" />
                    </div>

                    <div class="d-flex justify-content-between form-group">
                        <input type="submit" value="Update" asp-area="Admin" asp-controller="Product" asp-action="Update" class="btn btn-outline-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Intergrate CKEditor
    CKEDITOR.replace('edit', {
        height: 220
    });

    //Preview Image
    const updateFileInput = document.getElementById('updateProductImg');
    var updateOutput = document.getElementById('updateImgUrl')

    updateFileInput.addEventListener("change", e => {
        const file = updateFileInput.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", () => {
            updateOutput.src = reader.result;
        });

        reader.readAsDataURL(file);
    })
</script>                        