@model List<ProductViewModels>
@{
    ViewData["Title"] = "List of Product";
    var cateList = (List<Category>)ViewBag.Category;
    var product = (ProductViewModels)ViewBag.Product;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*Write Code*@
<div class="row mt-5">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th class="align-middle p-2">Index</th>
                    <th class="align-middle p-2">Product Name</th>
                    <th class="align-middle p-2">Category Name</th>
                    <th class="align-middle p-2">Price</th>
                    <th class="align-middle p-2">Status</th>
                    <th class="align-middle p-2">Image</th>
                    <th class="align-middle p-2">Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle p-2">
                            @{
                                var index = Model.IndexOf(item) + 1;
                            }@index
                        </td>
                        <td class="align-middle p-2">@item.Name</td>
                        <td class="align-middle p-2">@item.CateName</td>
                        <td class="align-middle p-2">$@item.Price</td>

                        <td class="align-middle p-2">
                            <input checked="@item.Status" asp-for="@item.Status" />
                        </td>

                        <td class="align-middle p-2">
                            <img src="~/img/products/@item.Image" style="width: 12.5rem; height: 12.5rem; object-position: center" />
                        </td>

                        <td class="align-middle p-2">
                            @Html.Partial("~/Areas/Admin/Views/Partials/Product/_UpdateProductPartial.cshtml", item, new ViewDataDictionary(ViewData) {{"ProCategories", cateList}})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-10 offset-1">
    @Html.Partial("~/Areas/Admin/Views/Partials/Product/_CreateProductPartial.cshtml", product, new ViewDataDictionary(ViewData) {{"ProCategories", cateList}})
</div>
