@model List<ProductViewModels>
@{
    ViewData["Title"] = "List of Product";
    var cateList = (List<Category>)ViewBag.Category;
    var product = (ProductViewModels)ViewBag.Product;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*Write Code*@
<div class="row mt-5">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th></th>
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.ID</td>
                        <td class="align-middle">@item.Name</td>
                        <td class="align-middle">@item.CateName</td>
                        <td class="align-middle">$@item.Price</td>

                        <td class="align-middle">
                            <input checked="@item.Status" asp-for="@item.Status" />
                        </td>

                        <td class="align-middle">
                            <img src="~/img/products/@item.Image" id="displayImg" style="width: 12.5rem; height: 12.5rem; object-position: center" />
                        </td>

                        <td class="align-middle">
                            @Html.Partial("~/Areas/Admin/Views/Partials/Product/_UpdateProductPartial.cshtml", item, new ViewDataDictionary(ViewData) {{"ProCategories", cateList}})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-10 offset-1">
    @Html.Partial("~/Areas/Admin/Views/Partials/Product/_CreateProductPartial.cshtml", product, new ViewDataDictionary(ViewData) {{"ProCategories", cateList}})
</div>
