<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] Admin</title>
    <link rel="shortcut icon"
          href="~/img/favicon.svg"
          type="image/x-icon" />

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/lineicons.css" />
    <link rel="stylesheet" href="~/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    @Html.Partial("_SidebarAdminPartial")
    <main class="main-wrapper">
        @Html.Partial("_TopBarAdminPartial")
        @RenderBody()
    </main>
   
    @Html.Partial("_ScriptsPartial")
</body>
</html>
