@model IEnumerable<Category>

@{
    ViewData["Title"] = "List of Category";
}

@*Write Code*@
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a asp-area="" asp-controller="Home" asp-action="Index">PVFoodService</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto " asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Category" asp-action="Index">Category</a></li>
                <li class="dropdown">
                    <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Log In</a>

    </div>
</header><!-- End Header -->


<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Category</h2>
                <ol>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Category</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container">
            <div class="row">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th>@Html.DisplayNameFor(model => model.SubCate)</th>
                            <th>Action</th>
                        </tr>

                    <tbody>
                            @foreach (var item in ViewData["Category"] as IEnumerable<Category>)
                            {
                            <tr>
                                <td class="align-middle">@Html.DisplayFor(m => item.ID)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.Name)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.Status)</td>
                                <td class="align-middle">@Html.DisplayFor(m => item.SubCate)</td>

                                <td class="align-middle">
                                    <a class="btn btn-outline-primary" asp-action="Update" asp-route-id="@item.ID">Edit</a>
                                    <a class="btn btn-outline-info"><i class="fa-thin fa-square-info"></i>Detail</a>
                                </td>
                            </tr>
                            }

                    </tbody>

                    </thead>
                </table>
            </div>

            <div class="text-white">
                <a asp-action="Create" class="btn btn-success">
                    Add New
                </a>
            </div>
        </div>
    </section>

</main><!-- End #main -->
